<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="campaignForm">
        <div class="form-field">
            <label for="name">Nome da Campanha:</label>
            <input type="text" id="name" formControlName="name">
        </div>
        <div class="form-group">
            <label for="description">Descrição:</label>
            <textarea id="description" formControlName="description"></textarea>
        </div>
        <div class="form-group">
            <select id="rpgSystem" formControlName="rpgSystemId">
                <option [ngValue]="null" disabled>Selecione um Sistema</option>
                @for (rpgSystem of rpgSystems; track rpgSystem.id) {
                    <option [value]="rpgSystem.id">{{rpgSystem.name}}</option>
                }
            </select>
        </div>
        <div class="form-actions">
            <button type="submit" [disabled]="!campaignForm.valid" class="button primary">{{ isEditMode ? 'Salvar Alterações' : 'Criar Campanha' }}</button>
            <a [routerLink]="['/']" class="button">Cancelar</a>
        </div>

    </form>
</div>