<div class="header">
    <h2>Minhas Campanhas</h2>
    <a [routerLink]="['/campaigns/new']" class="button primary">Nova Campanha</a>
</div>
@if (pagedCampaigns) {
    @if(pagedCampaigns.items.length > 0){
        @for (campaign of pagedCampaigns.items; track campaign.id) {
            <a [routerLink]="['/campaigns', campaign.id]" class="campaign-card-link">
                <div class="campaign-card">
                    <h3>{{campaign.name}}</h3> 
                </div>
            </a>
        }
        <span> 
            Página {{ pagedCampaigns.pageNumber }} de {{ pagedCampaigns.totalPages }} 
        </span>
        @if(pagedCampaigns.hasPreviousPage){
            <button (click)="goToPage(params.pageNumber-1)"> << </button>
        }
        @if (pagedCampaigns.hasNextPage) {
            <button (click)="goToPage(params.pageNumber+1)"> >> </button>
        }
    }
    @else {
        <h3>Não há nenhuma campanha. Que tal criar uma agora?</h3>
    }
}
@else {
    <h2>carregando...</h2>
}