<h1>Sistemas de Rpg:</h1>
<a [routerLink]="['/admin/rpg-systems/new']">Criar novo sistema</a>

@if(pagedRpgSystem){
    @if(pagedRpgSystem.items.length > 0){
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @for (rpgSystem of pagedRpgSystem.items; track $index) {
                    <tr>
                        <td>{{ rpgSystem.name }}</td>
                        <td>{{ rpgSystem.description }}</td>
                        <td>
                            <a [routerLink]="['/admin/rpg-systems/edit', rpgSystem.id]" class="button">Editar</a>
                            <button (click)="deleteRpgSystems(rpgSystem.id)" class="button danger">Excluir</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if(pagedRpgSystem.hasPreviousPage){
            <button (click)="goToPage(params.pageNumber-1)"> << </button>
        }
        <span>
            Página {{ pagedRpgSystem.pageNumber }} de {{ pagedRpgSystem.totalPages }}
        </span>
        @if (pagedRpgSystem.hasNextPage) {
            <button (click)="goToPage(params.pageNumber+1)"> >> </button>
        }
    }
    @else {
        <p>Nenhum Sistema de RPG encontrado.</p>
    }
}
@else {
    <p>Carregando...</p>
}